.cm-switch {
  padding: 12px;
  outline: none;
  border: none;
  background-color: transparent;

  &:disabled {
    cursor: default;
    
    .cm-switch-thumb {
      opacity: .6;
    }
  }

  &:focus-visible  {
    .cm-switch-thumb-inner::before {
      opacity: .3;
    }
  }

  &:not(:disabled):hover {
    .cm-switch-thumb-inner::before {
      opacity: .1;
    }
  }

  .cm-switch-thumb {
    display: block;
    width: 34px;
    height: 14px;
    border-radius: 7px;
    background-color: var(--cm-switch-track-bgcolor);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &[data-state="checked"] .cm-switch-thumb-inner {
      transform: translateX(20px);
    }

    &[data-state="unchecked"] .cm-switch-thumb-inner::before {
      background-color: #000000;
    }
  }

  .cm-switch-thumb-inner {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: relative;
    transition-property: transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: currentColor;

    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: currentColor;
    }

    &::before {
      opacity: 0;
      width: 38px;
      height: 38px;
      transition-property: opacity;
      transition-duration: 150ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::after {
      width: 20px;
      height: 20px;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
  }
}
