.cm-switch {
  padding: 12px;
  outline: none;
  border: none;
  background-color: transparent;

  &:disabled {
    cursor: default;

    .cm-switch-track {
      opacity: .6;
    }
  }

  &:not(:disabled):hover .cm-switch-thumb::before {
    opacity: .1;
  }
  &:not(:disabled):active .cm-switch-thumb::before {
    opacity: .15;
  }

  &:focus-visible .cm-switch-thumb::before {
    opacity: .2;
    animation: 2500ms cmSwitchPulsate cubic-bezier(0.4, 0, 0.2, 1) infinite 200ms;
  }

  .cm-switch-track {
    display: block;
    width: 34px;
    height: 14px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, .38);
    transition-property: background-color;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &[data-state="checked"] {
      background-color: var(--cm-switch-track-bg-color);
      color: var(--cm-switch-thumb-bg-color);
      .cm-switch-thumb {
        transform: translateX(20px);
      }
    }

    &[data-state="unchecked"] {
      color: #ffffff;
      .cm-switch-thumb::before {
        background-color: #000000;
      }
    }
  }

  .cm-switch-thumb {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: relative;
    transition-property: transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: currentColor;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: currentColor;
    }

    &::before {
      opacity: 0;
      width: 38px;
      height: 38px;
      transition-property: opacity;
      transition-duration: 150ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::after {
      width: 20px;
      height: 20px;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
  }
}

@keyframes cmSwitchPulsate {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(0.92);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
