.cm-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.cm-modal-content {
  background-color: #ffffff;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.15);
}
.cm-dialog-wrapper {
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  .cm-dialog-content {
    position: relative;
  }
}
.cm-drawer-wrapper {
  position: fixed;
  inset: 0;
  .cm-drawer-content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: auto;
  }
}
