.cm-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--cm-button-text-color);
  padding: 6px 12px;
  background-color: var(--cm-button-bg-color);
  border-color: var(--cm-button-border-color);
  border-width: var(--cm-button-border-width);
  transition: background-color 170ms linear;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  user-select: none;
  &.cm-icon-button {
    padding: 8px;
    border-radius: 50%;
  }
  &:not(:disabled):hover {
    background-color: var(--cm-button-bg-hover-color);
    border-color: var(--cm-button-border-hover-color);
  }
  &:disabled {
    opacity: .5;
    cursor: default;
    pointer-events: none;
  }
}
