.cm-select {
  border: none;
  outline: none;
  padding: 6px 12px;
  cursor: pointer;

  .cm-select-input {
    cursor: pointer;
    border: none;
    outline: none;
    flex: auto;
    background-color: transparent;
    &:not(:placeholder-shown) {
      opacity: 0;
    }
  }

  .cm-select-arrow {
    flex: none;
    transition-property: transform;
    transition-duration: 150ms;
  }
  &[data-state=open] {
    .cm-select-arrow {
      transform: rotate(180deg);
    }
  }

  .cm-select-label {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 6px 28px 6px 12px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.cm-select-list {
  background-color: #ffffff;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  overflow-y: auto;
  outline: none;
  border: none;

  .cm-select-list-item {
    position: relative;
    padding: 6px 12px;
    color: var(--cm-select-color);
    outline: none;
    border: none;
    white-space: pre-wrap;
    line-break: anywhere;

    &.cm-select-list-selected-item {
      color: var(--cm-select-selected-color);
      background-color: var(--cm-select-selected-bg-color);
      &.cm-select-list-actived-item {
        background-color: var(--cm-select-selected-actived-color);
      }
    }

    &.cm-select-list-actived-item:not(.cm-select-list-selected-item) {
      background-color: var(--cm-select-hover-color);
    }
  }

  .cm-select-treelist-item {
    display: flex;
    align-items: center;
    .cm-select-treelist-item-expand {
      flex: none;
      margin-right: 4px;
      color: transparent;
      &.cm-select-treelist-item-canexpan {
        color: currentColor;
        cursor: pointer;
        transform: rotate(-90deg);
        &.cm-select-treelist-item-expaned {
          transform: rotate(0);
        }
      }
    }
    .cm-select-treelist-item-value {
      flex: auto;
      white-space: pre-wrap;
      line-break: anywhere;
      user-select: none;
    }
  }

  .cm-select-list-empty {
    padding: 42px 0;
    text-align: center;
    color: #979999;
  }
}
